################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/src/VSClock.OutOfProc/bin
/src/VSClock.OutOfProc/obj
/src/VSClock/bin
/src/VSClock/obj
